<%= provide(:titulo, "Contacto") %>
<h1>Estaticas#contacto</h1>
<p>Find me in app/views/estaticas/contacto.html.erb</p>


<br>
<p>ID: <%= @id %> </p>
<p>PAG: <%= @pag %> </p>


<br>
<%= link_to 'nosotros', estaticas_nosotros_path %>